.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.cart-container {
    position: fixed;
    background: white;
    width: 400px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.cart-container footer {
    height: 32px;
    margin: 6px;
}

.cart-container footer>button {
    background-color: #f1f1f1;
    border-radius: 1px;
    border: 1px solid #c1c1c1;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 20px;
    margin: 0 3px;
  }
  
  .cart-container footer>button:hover {
    background-color: #eceaea;
  }
  
  .cart-container footer>button:active {
    position: relative;
    top: 1px;
  }

.cart-container .cart-list-item {
    min-height: 42px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.cart-container .cart-item-title {
    flex: 1;
}

.cart-container .empty-cart-message {
    height: 42px;
}

.cart-container .cart-item-price {
    width: 70px;
}

.cart-container .remove-image>img {
    height: 40px;
    width: 40px;
    padding-right: 7px;
    cursor: pointer;
}

.cart-container .cart-item-counter {
    display: flex;
    width: 49px;
    margin: 0px 10px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border: 0.5px solid lightgray;
    line-height: 30px;
}

.cart-container .counter-count {
    line-height: 23px;
    width: 29px;
    text-align: center;
}


.cart-container .counter-dec, .cart-container .counter-inc {
    cursor: pointer;
    width: 15px;
    text-align: center;
}

.cart-container header>h4 {
    margin: 8px;
}
.cart-container hr.list-line-divider {
    width: 90%;
    border: 0.5px solid lightgray
}

.cart-container hr.list-line-divider:last-child {
    display: none;
}