.product-list .product-list-item {
    min-height: 42px;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 2px 12px;
}

.product-list>:nth-child(odd) {
    background-color: #eaeaea;
}

.product-list .product-title {
    width: 120px;
}

.product-list .product-description {
    flex: 1;
}

.product-list .product-price {
    width: 70px;
}

.product-list .product-image {
    height: 40px;
    width: 40px;
}

.product-list .product-image>img {
    vertical-align: middle;
}

.product-list .cart-image {
    height: 40px;
    width: 47px;
}

.product-list .list-line-divider {
    width: 90%;
    border: 0.5px solid lightgray
}

.product-list .list-line-divider:last-child {
    display: none;
}

.product-list .cart-image>img {
    height: 40px;
    width: 40px;
    padding-right: 7px;
    cursor: pointer;
}

.product-list .cart-image:active {
    position: relative;
    top: 1px;
  }